// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// FontAwesome
@import "@fortawesome/fontawesome-free/css/all.css";

.bootstrap-tagsinput {
    margin: 0;
    width: 100%;
    padding: 0.5rem 0.75rem 0;
    font-size: 1rem;
    line-height: 1.25;
    transition: border-color 0.15s ease-in-out;
    background-color: #f8fafc !important;

    &.has-focus {
        background-color: #fff;
        border-color: #5cb3fd;
    }

    .label-info {
        display: inline-block;
        background-color: #636c72;
        padding: 0 .4em .15em;
        border-radius: .25rem;
        margin-bottom: 0.4em;
    }

    input {
        margin-bottom: 0.5em;
    }
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: '\00d7';
}


